body {
	background: linear-gradient(0.51turn, #fff, #B4DBDA 90%);
}

.position-relative {
    position: relative;
    height: 80%;
}

.position-absolute {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
}

a:hover {
    text-decoration: none;
}

h1:hover {
    color: #666;
    transition: all 0.5s;
}

